<!DOCTYPE html>
<html>
   <head>
      <title>Login</title>
      <link rel="stylesheet" href="/css/main.css" />
      <link href="https://fonts.googleapis.com/css2?family=Kotta+One&display=swap" rel="stylesheet">
  <style>
   h1 {
    font-family:'Kotta One', serif;
    color: #2F4F4F;
   }
   body {
      background-image: url(/example/image/background.jpg); 
    background-color: #CAD2CE; 
   }
  </style>
   </head>
   <body>
   <div align="center">
   <h1>Welcome Spring Boot WebSocket Chat!</h1>
   </div>
      <div align="center" id="login-container">
         <h1 class="title">Enter Your UserName</h1>
         <form id="loginForm" name="loginForm" method="POST">
            <input type="text" name="username" style="border-radius:7px;"/>
            <button type="submit" style="border-radius:9px;">Login</button>
         </form>
      </div>
   </body>
</html>

